{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>Read Cycle | Login </title>
</head>
<div class="msgs">
	{% include "global/message.html" %}
</div>
<body>
	<div class="container">
		<link rel="stylesheet" href="{% static "assets/main/css/login.css" %}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<div class="formbold-main-wrapper">

			<div class="formbold-form-title">
				<p>
					Já pensou em trocar aquele seu livro que você já leu por um totalmente novo e que você tenha vontade de ler ? 
				</p>

			</div>
			<div class="formbold-form-wrapper">
				<h1 class="login-title">LOGIN</h1>
				<form method="POST">	
				{% csrf_token %}
				{% if form.errors %}
                        <div class="alert alert-danger alert-dismissible fade show msg-container message" role="alert" >
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}

					<div class="form-group">
						{{ form.username.label_tag }} 
						{{ form.username }}
					</div>
					<div class="form-group">
						{{ form.password.label_tag }}
						{{ form.password }}
					</div>
				

                    <button class="formbold-btn" type="submit">Entrar</button>
                    <button class="formbold-btn"><a class="app-link" href="{% url 'main:create-page' %}">CADASTRAR-SE</a></button>
				</form>
			</div>
	</div>

</body>
	<script src="{% static "assets/main/js/main.js" %}"></script>
</html>  